/*** Imports ***/

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

/*** Helper  ***/

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.heading-border {width: 50%;}

/*** Main Style ***/

body {
  font-family: 'Lato', sans-serif;
  margin-top: 0;
  position: relative;
  overflow-x: hidden;
}

strong {font-weight: 700;}

a:link,
a:visited {color: #d5d5d5;}

a:hover,
a:active {color: #fff;}

/*** Home  ***/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(./images/png_black_background_1050168.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  height: 100vh;
}

.navbar {
  border-bottom: #a5c7c3;
  opacity: 0.4;
}


.navbar-toggle {
  border: none;
  background-color: transparent;
}
.navbar-toggle:hover {
  border: none;
  background-color: transparent !important;
}
.navbar-toggle:focus {
  border: none;
  background-color: transparent !important;
}
  
.logo {
  font-size: 68px;
  font-weight: 100;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid #fff;
  padding: 5px 0 5px 0;
}

.main-info p {
  font-weight: 300;
  font-size: 1.2em;
  margin: 0;
}

.main-info {color: #d5d5d5;}

.learn-more {
  font-size: 30px;
  color: #d5d5d5;
  position: absolute;
}

.learn-more .fa {position: absolute;}

.learn-more .first-arrow {top: 20px;}

.learn-more .second-arrow {top: 8px; left: -9.5px;}

/*** About ***/

#about {
  padding-top: 100px;
  padding-bottom: 100px;

}

.white-section .section-heading {
  font-weight: 300;
  color: black;
}

.usr-img {
  margin-top: 10px;
  width: 215px;
  box-shadow: 0 1px 10px grey;
}


cite {
  text-align: left;
  margin-top: 25px;
  font-size: 90%;
}

/*** Portfolio ***/

#contact {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  height: auto;
  color: white;
}
.skills{
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(./images/png_black_background_1050168.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  height: auto;
  color: white;
}
.portfolio{
  padding-bottom: 100px;

}
.portfolio-items .section-heading {
  font-weight: 100;
  margin-bottom: 60px;
}

.thumbnail {border-radius: 1px;}

.thumbnail img {width: 100%;}

/*** Contact and Social ***/
/*** Form ***/

#contact {
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-control {border-radius: 1px;}

.btn {border-radius: 1px;}

.sub {float: left;}

/*** Social icons ***/

.social-media h3 {
  font-weight: 300;
  color: rgb(61, 3, 3);
}

.social-media ul li {
  text-decoration: 'none';
  display: inline-flex;
  margin: 0 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.social-media ul{
  display: inline-block;
}
.social-media ul li:first-child {margin-left: -20px;}

#linkedIn a:link,
#linkedIn a:visited,
#linkedIn a:hover,
#linkedIn a:active {  color: grey;
}

#twitter a:link,
#twitter a:visited,
#twitter a:hover,
#twitter a:active {  color: grey;
}

#gitHub a:link,
#gitHub a:visited,
#gitHub a:hover,
#gitHub a:active {color: grey;}


.well blockquote {border: 0;}

/*** Footer ***/

#footer {
  padding: 5px 5px 25px 5px;
  background-color: #2a6592;
  border-top: 5px solid   #2a6592;
  ;
  opacity: .99;
}

#footer h4 {
  font-weight: 300;
  color: #d5d5d5;
}

#footer p {
  font-weight: 700;
  color: #cecece;
}

.btt {
  font-weight: 300;
  background-color: #283a62;
}

.author {
  position: relative;
  top: 10px;
  color: #696969;
}

/* Fix for iPhone 5 and similar screen size devices */

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {

   .main-info .logo {
    font-size: 48px;
  }

}